
@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTerm-Thin.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtendedThin.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtendedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTerm-ThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTerm-ThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtendedThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtendedThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTerm-ThinItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtendedThinItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtendedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtraLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtendedExtraLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtendedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtraLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtendedExtraLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTerm-Light.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtendedLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTerm-LightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTerm-LightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtendedLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtendedLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTerm-LightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtendedLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTerm-Regular.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTerm-Extended.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTerm-Oblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTerm-Oblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtendedOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtendedOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTerm-Italic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtendedItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTerm-Medium.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtendedMedium.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTerm-MediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTerm-MediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTerm-MediumItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtendedMediumItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTerm-SemiBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtendedSemiBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTerm-SemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTerm-SemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTerm-SemiBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtendedSemiBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTerm-Bold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtendedBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTerm-BoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTerm-BoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTerm-BoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtendedBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtraBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtendedExtraBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtendedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtraBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtendedExtraBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtendedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTerm-Heavy.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtendedHeavy.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtendedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTerm-HeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTerm-HeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTerm-HeavyItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTerm-ExtendedHeavyItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTerm-ExtendedHeavyItalic.ttf') format('truetype');
}
